.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #db2e2e;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1200px;
    margin: auto;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
}

.logo {
    height: 40px;
    /* Adjust as needed */
}

.middle {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.searchBar {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
}

.right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navButton {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 8px;
}

.downloadIcon {
    height: 20px;
}

.navMenu {
    position: absolute;
    top: 60px;
    right: 20px;
    background: #444;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 200px;
}

.navMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navMenu li {
    padding: 10px;
}

.navMenu a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.navMenu a:hover {
    background: #555;
}

/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownButton {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 8px;
}

.dropdownButton:focus {
    outline: none;
}

.dropdownContent {
    display: flex;
    align-items: center;
}

.dropdownIcon {
    margin-left: 5px;
}

.dropdownText {
    margin-top: 2px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.75);
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    color: #000;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 150px;
    z-index: 1000;
    margin-top: 8px;
}

.dropdownMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdownMenu li {
    padding: 10px;
}

.dropdownMenu a {
    color: #000;
    text-decoration: none;
    display: block;
}

.dropdownMenu a:hover {
    background: #eee;
}

@media (max-width: 768px) {
    .dropdownMenu {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .searchBar {
        width: 100%;
        margin-top: 10px;
    }

    .right {
        display: none;
        /* Hide right side buttons on small screens */
    }
}